<div class="col-md-3 mb-0 px-1 d-inline-block">
  <div class="card mb-1">
    <div class="card-block p-1" style="min-height: 100px;">
      <div class="list-group list-group-flush">
        <div class="d-flex flex-row justify-content-between list-group-item-action p-3">
          <div class="bd-highlight text-left">
            <h6 class="text-dark f-w-500 f-16">DSTV Payment</h6>
            <span class="text-primary">
              <i class="icofont icofont-calendar mr-2 text-muted"></i>
              <span class="f-12 text-muted">May 30, 2018</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center p-0">
      <a href="#" class="list-group-item list-group-item-action py-1">
        <p class="f-18 my-0 py-0 f-w-500 text-primary">N13,000.00</p>
        <span class="f-10">Pay Again</span>
      </a>
    </div>
  </div>
</div>
