<form [formGroup]="passwordReset" class="small-font mx-auto onboarding-forms" (ngSubmit)="onSubmitPwdChange()">
  <div *ngIf="errorMessage" class="alert alert-warning mb-0 py-1">
    <button (click)="closeAlert()" type="button" class="close mt-1">
      <i class="icofont icofont-close-line-circled text-danger"></i>
    </button>
    <strong>Warning!</strong> {{errorMessage}}
  </div>
  <div *ngIf="successMessage" class="alert alert-warning mb-0 py-1">
    <button (click)="closeAlert()" type="button" class="close mt-1">
      <i class="icofont icofont-close-line-circled text-danger"></i>
    </button>
    <strong class="text-success">Success!</strong> {{successMessage}}
  </div>



  <div class="form-row">
    <div class="col-12">
      <label *ngIf="passwordReset.controls['PasswordOld'].value" for="PasswordOld" class="f-12 my-0 py-0 text-white f-w-100">Old/Default
        Password</label>
      <!--*ngIf="passwordReset.controls['PasswordOld'].value"-->
      <div class="input-group">
        <div class="input-group-append">
          <button class="btn btn-mini bg-light border-0" type="button">
            <i class="fa fa-fw fa-2x fa-unlock prefix text-secondary"></i>
            <!-- <img src="img/calendar-icon.svg" /> -->
          </button>
        </div>
        <input placeholder="Enter Old/Default Password" autocomplete="current-password" type="Password" id="PasswordOld"
          class="form-control mb-0" formControlName="PasswordOld" mdbActive mdbInputValidate>
        <label for="PasswordOld" class="sr-only">Old/Default password</label>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <label *ngIf="passwordReset.controls['PasswordNew'].value" for="PasswordNew" class="f-12 my-0 py-0 text-white f-w-100">New Password</label>
      <!--*ngIf="passwordReset.controls['PasswordOld'].value"-->
      <div class="input-group">
        <div class="input-group-append">
          <button class="btn btn-mini bg-light border-0" type="button">
            <i class="fa fa-fw fa-2x fa-lock prefix text-secondary"></i>
            <!-- <img src="img/calendar-icon.svg" /> -->
          </button>
        </div>
        <input placeholder="New Password" autocomplete="current-password" type="Password" id="PasswordNew" class="form-control mb-0"
          formControlName="PasswordNew" mdbActive mdbInputValidate>
        <label for="PasswordNew" class="sr-only">New password</label>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <label *ngIf="passwordReset.controls['PasswordConfirm'].value" for="PasswordConfirm" class="f-12 my-0 py-0 text-white f-w-100">Confirm
        Password</label>
      <!--*ngIf="passwordReset.controls['PasswordOld'].value"-->
      <div class="input-group">
        <div class="input-group-append">
          <button class="btn btn-mini bg-light border-0" type="button">
            <i class="fa fa-fw fa-2x fa-user-lock prefix text-secondary"></i>
            <!-- <img src="img/calendar-icon.svg" /> -->
          </button>
        </div>
        <input placeholder="Confirm New Password" autocomplete="current-password" type="Password" id="PasswordConfirm"
          class="form-control mb-0" formControlName="PasswordConfirm" mdbActive mdbInputValidate>
        <label for="PasswordConfirm" class="sr-only">Confirm password</label>
      </div>
    </div>
  </div>
  <p></p>
  <div class="form-row">
    <div class="col-12">
      <div class="md-form">
        <button id="customer" type="submit" class="btn btn-success float-right btn-sm waves-light mt-2" mdbRippleRadius>
          <span *ngIf="loading === true" class="">
            <i class="fa fa-spin fa-spinner mr-2"></i>
            Loading....
          </span>
          <span *ngIf="!loading" class="">
            Change Password
          </span>
        
        </button>
      </div>
      <div class="form-text">
      </div>
    </div>
  </div>
</form>