<div class="card-header bg-white py-2">
  <div class="d-flex justify-content-start">
    <p class="text-primary mr-2">
      <img src="assets\icon\smashicons\accounts\account-upgrade.svg" class="img-fluid img-30 mb-2" alt="">
      {{serviceName}}
    </p>
  </div>
</div>
<div class="card-block">
  <ibank-notifications [notification]="notifications" (vissibilityEvent)="visibilityHandler($event)"></ibank-notifications>
  <ng-container>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div [@fadeInOutTranslate] class="m-t-5">
          <form [formGroup]="accountUpgradeForm" (ngSubmit)="onSubmit(accountUpgradeForm)" class="" action="javascript:"
            novalidate>
            <div class="form-row" *ngIf="!(formSubmit)">
              <ng-container *ngIf="formState == 1" [@fadeInOutTranslate]>
                <div class="form-group col-12" *ngIf="(isEmailReadOnly && isPhoneReadOnly)" [@fadeInOutTranslate]>
                  <span class="f-12 pb-2 pr-3">Select Means of Identification:</span>
                  <div ngbDropdown placement="bottom-left" class="d-inline-block">
                    <button class="btn btn-round btn-sm btn-dark" type="button" id="identification" ngbDropdownToggle><span
                        class="px-5">{{selectedMOD?.name}}</span></button>
                    <div ngbDropdownMenu aria-labelledby="Identification">
                      <span *ngFor="let option of ID; let i=index">
                        <button (click)="optionSelected(option)" type="button" class="dropdown-item f-12">
                          <span class="">{{option?.name}}</span>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div id="validation" class="form-row">
                  <div class="form-group col-12" *ngIf="(isEmailReadOnly && isPhoneReadOnly)" [@fadeInOutTranslate]>
                    <gtibank-accounts-typeahead [label]="'Account to Upgrade'" (acctToDebitEvent)="acctToDebitEventHander($event)"></gtibank-accounts-typeahead>
                  </div>
                  <div class="form-group col-12" *ngIf="(isEmailReadOnly && isPhoneReadOnly)" [@fadeInOutTranslate]>
                    <input type="text" class="form-control" placeholder="Enter Regulatory ID Number For the Selected ID"
                      formControlName="regulatoryIdNumber">
                  </div>
                  <!-- ====== Occupation Status ======= -->
                  <div class="form-group col-12" *ngIf="(isEmailReadOnly && isPhoneReadOnly)" [@fadeInOutTranslate]>
                    <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['name'].value" for="">Name:</label>
                    <input type="text" (change)="marriageAndPublication()" class="form-control" placeholder="Your Name"
                      formControlName="name">
                  </div>
                  <!-- ====== Email ======= -->
                  <div class="form-group col-12">
                    <label *ngIf="accountUpgradeForm.controls['email'].value" class="f-12 my-0 py-0">Email:</label>
                    <div class="input-group mb-0">
                      <input class="form-control" placeholder="Enter Current Email Address" [readonly]="isEmailReadOnly"
                        (change)='accountUpdate()' formControlName="email">

                      <div class="input-group-append">
                        <button *ngIf="isEmailReadOnly" class="btn btn-mini btn-dark" type="button" title="Edit Email Address"
                          (click)="editEmail = false">
                          <i style="width: 1.2rem; height: 0.5rem; cursor: pointer;" class="icofont icofont-pencil-alt-2"></i>
                        </button>
                        <button *ngIf="!(isEmailReadOnly)" class="btn btn-mini btn-dark" type="button" title="Save"
                          (click)="editEmail = true">
                          <i style="width: 1.2rem; height: 0.5rem; cursor: pointer;" class="icofont icofont-save"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- ====== Phone Number ======= -->
                  <div class="form-group col-12">
                    <label *ngIf="accountUpgradeForm.controls['phone'].value" class="f-12 my-0 py-0">Phone:</label>
                    <div class="input-group mb-0">
                      <input class="form-control" placeholder="Phone Number" [readonly]="isPhoneReadOnly" (change)='accountUpdate()'
                        formControlName="phone">
                      <div class="input-group-append">
                        <button *ngIf="(isPhoneReadOnly )" class="btn btn-mini btn-dark" type="button" title="Edit Phone Number"
                          (click)="editPhone = false">
                          <i style="width: 1.2rem; height: 0.5rem; cursor: pointer;" class="icofont icofont-pencil-alt-2"></i>
                        </button>
                        <button *ngIf="!(isPhoneReadOnly )" class="btn btn-mini btn-dark" type="button" title="Save"
                          (click)="editPhone = true">
                          <i style="width: 1.2rem; height: 0.5rem; cursor: pointer;" class="icofont icofont-save"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- ====== Answer To Secret Question ======= -->
                  <div [@fadeInOutTranslate] class="form-group col-12" *ngIf="(!isEmailReadOnly || !isPhoneReadOnly)">
                    <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['secretAnswer'].value" for="">Answer
                      your secret question:
                    </label>
                    <input type="password" class="form-control" placeholder="Provide Answer to your secret question"
                      formControlName="secretAnswer">
                    <get-secret-question></get-secret-question>
                  </div>
                  <div class="form-group col-12" *ngIf="(!isEmailReadOnly || !isPhoneReadOnly)">
                    <div class="md-form">
                      <button [@fadeInOutTranslate] id="validate" type="submit" class="btn btn-success waves-light md-trigger btn-sm"
                        mdbRippleRadius>
                        <span *ngIf="isLoading === true" class="">
                          <i class="fa fa-spin fa-spinner"></i> Sending Request..
                        </span>
                        <span *ngIf="!isLoading" class="">
                          Update
                        </span>
                      </button>
                    </div>
                    <p class="mt-3 f-12">
                    </p>
                  </div>

                  <ng-container *ngIf="(isEmailReadOnly && isPhoneReadOnly)">
                    <!-- ====== Employment Status ======= -->
                    <div class="form-group col-12" [@fadeInOutTranslate]>
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['employmentStats'].value">Employment
                        Status:</label>
                      <select class="custom-select" formControlName="employmentStats">
                        <option disabled value="">Select Employment Status</option>
                        <option *ngFor="let empStat of employmentStatus" [ngValue]='empStat'>{{empStat?.name}}</option>
                      </select>
                    </div>
                    <!-- ====== Occupation Status ======= -->
                    <div class="form-group col-12" [@fadeInOutTranslate]>
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['occupation'].value" for="">Occupation:</label>
                      <input type="text" class="form-control" placeholder="Occupation" formControlName="occupation">
                    </div>
                    <!-- ====== Residential Address ======= -->
                    <div class="form-group col-12" [@fadeInOutTranslate]>
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['address'].value" for="">Residential
                        Address:</label>
                      <input type="text" class="form-control" placeholder="Residential Address" formControlName="address">
                    </div>
                    <!-- ====== Birthday ======= -->
                    <div class="form-group col-12" [@fadeInOutTranslate]>
                      <label *ngIf="accountUpgradeForm.controls['birthday'].value || accountUpgradeForm.controls['birthday'].value"
                        for="startDate" class="f-12 my-0 py-0">Date of Birth:</label>
                      <div class="input-group mb-0">
                        <input (click)="BDate.toggle(); uploadBirthCert();" [startDate]="({year: birthdayObject.yyyy,
                          month: birthdayObject.mm, day: birthdayObject.dd})"
                          class="form-control" placeholder="Date of Birth:" name="dp" ngbDatepicker #BDate="ngbDatepicker"
                          formControlName="birthday">
                        <div class="input-group-append">
                          <button class="btn btn-mini btn-inverse" (click)="BDate.navigateTo({year: birthdayObject.yyyy, month: birthdayObject.mm, day: birthdayObject.dd}); BDate.toggle();  uploadBirthCert()"
                            type="button">
                            <i-calendar style="width: 1.2rem; height: 0.5rem; cursor: pointer;"></i-calendar>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- ====Gender===== -->
                    <div class="form-group col-12">
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['gender'].value">Gender:</label>
                      <select class="custom-select" name="gender" id="gender" formControlName="gender">
                        <option disabled value="">Select Gender</option>
                        <option *ngFor="let gender of genderObject" [ngValue]='gender'>{{gender?.name}}</option>
                      </select>
                    </div>
                    <!-- ====== Marital Status ======= -->
                    <div class="form-group col-12">
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['maritalStatus'].value">Marital
                        Status:</label>
                      <select class="custom-select" formControlName="maritalStatus">
                        <option disabled value="">Select Marital Status</option>
                        <option *ngFor="let mStatus of maritalStatusObject" [ngValue]='mStatus'>{{mStatus?.name}}</option>
                      </select>
                    </div>

                    <!-- ====== Tier Type ======= -->
                    <div class="form-group col-12" [@fadeInOutTranslate]>
                      <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['tierType'].value">Select Tier to
                        Upgrade To:</label>
                      <select class="custom-select" formControlName="tierType">
                        <option disabled value="">Available Tiers</option>
                        <option *ngFor="let tier of tierTypeObject" [ngValue]='tier'>{{tier?.name}}</option>
                      </select>
                    </div>

                    <div class="form-group col-12">
                      <div class="md-form">
                        <button (click)="formSwitch = 2" [@fadeInOutTranslate] type="button" class="btn btn-success waves-light md-trigger btn-sm"
                          mdbRippleRadius>
                          <span class="">
                            Next
                          </span>
                        </button>
                      </div>
                      <p class="mt-3 f-12">Please ensure your current email address, phone number and other personal
                        information
                        are up to date, select account update to update your internet Banking information.
                      </p>
                    </div>
                  </ng-container>




                </div>
              </ng-container>

              <ng-container [@fadeInOutTranslate] *ngIf="(formState == 2 && (isEmailReadOnly || isPhoneReadOnly ))">
                <!-- ====== Country ======= -->
                <div class="form-group col-12">
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['nationality'].value">Country:</label>
                  <select (change)="countriesEventHander" class="custom-select" formControlName="nationality">
                    <option disabled value="">Select Country</option>
                    <option *ngFor="let country of countries" [ngValue]='country'>{{country?.name}}</option>
                  </select>
                </div>
                <!-- ====== State of residence ======= -->
                <div class="form-group col-12">
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['stateOfResidence'].value">State of
                    residence:</label>
                  <select class="custom-select" formControlName="stateOfResidence">
                    <option disabled value="">Select State of residence</option>
                    <option *ngFor="let state of statesObject" [ngValue]='state'>{{state?.name}}</option>
                  </select>
                </div>
                <!-- ====== State of origin ======= -->
                <div class="form-group col-12">
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['stateOfOrigin'].value">State of
                    origin:</label>
                  <select (change)="statesEventHander" class="custom-select" formControlName="stateOfOrigin">
                    <option disabled value="">Select State of origin</option>
                    <option *ngFor="let state of statesObject" [ngValue]='state'>{{state?.name}}</option>
                  </select>
                </div>
                <!-- ====== Local Government Area ======= -->
                <div class="form-group col-12">
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['localGovt'].value">Select Local
                    Government
                    Area:
                  </label>
                  <select class="custom-select" formControlName="localGovt">
                    <option disabled value="">Select Local Government Area origin</option>
                    <option *ngFor="let lga of localGovtObject" [ngValue]='lga'>{{lga?.name}}</option>
                  </select>
                </div>
                <!-- ====== Employer's Name ======= -->
                <div class="form-group col-12" [@fadeInOutTranslate]>
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['employersName'].value" for="">Employer's
                    Name:
                  </label>
                  <input type="text" class="form-control" placeholder="Name of Employer" formControlName="employersName">
                </div>
                <!-- ====== Employer's Address' ======= -->
                <div class="form-group col-12" [@fadeInOutTranslate]>
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['employersAddress'].value" for="">Employer's
                    Address:
                  </label>
                  <input type="text" class="form-control" placeholder="Employer's Address" formControlName="employersAddress">
                </div>
                <!-- ====== Date Employed ======= -->
                <div class="form-group col-12" [@fadeInOutTranslate]>
                  <label *ngIf="accountUpgradeForm.controls['dateEmployed'].value" for="startDate" class="f-12 my-0 py-0">Employment
                    Date:</label>
                  <div class="input-group mb-0">
                    <input (click)="startDate.toggle()" class="form-control" [startDate]="({year: empObject.yyyy,
                        month: empObject.mm,  day: empObject.dd})"
                      placeholder="Employment Date:" name="dp" ngbDatepicker #startDate="ngbDatepicker" formControlName="dateEmployed">
                    <div class="input-group-append">
                      <button class="btn btn-mini btn-inverse" (click)="startDate.navigateTo({year: empObject.yyyy, month: empObject.mm, day: empObject.dd}); startDate.toggle()"
                        type="button">
                        <i-calendar style="width: 1.2rem; height: 0.5rem; cursor: pointer;"></i-calendar>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- ====== Answer To Secret Question ======= -->
                <div class="form-group col-12">
                  <label [@fadeInOutTranslate] *ngIf="accountUpgradeForm.controls['secretAnswer'].value" for="">Answer
                    your secret question:
                  </label>
                  <input type="password" class="form-control" placeholder="Provide Answer to your secret question"
                    formControlName="secretAnswer">
                  <get-secret-question></get-secret-question>
                </div>
                <!-- Uploads -->
                <div class="form-group col-12">
                  <!-- ====== Regulatory ID Upload ======= -->
                  <label class="col-form-label">Upload Regulatory ID</label>
                  <div>
                    <input type="file" class="form-control" (change)="uploadRegulatoryIDFile = $event">
                  </div>
                </div>
                <!-- ====== Utility Bill Upload ======= -->
                <div class="form-group col-12">
                  <label class="col-form-label">Upload Utility Bill</label>
                  <div>
                    <input type="file" class="form-control" (change)="uploadFileBillsFile = $event">
                  </div>
                </div>
                <!-- ====== Birth Certificate Upload ======= -->
                <div class="form-group col-12" *ngIf="birthCertificateBoolean">
                  <label class="col-form-label">Upload Birth Certificate</label>
                  <div>
                    <input type="file" class="form-control" (change)="uploadBirthCertificate = $event">
                  </div>
                </div>
                <ng-container *ngIf="marriageAndPublcationBoolean">
                  <!-- ====== Marriage Upload ======= -->
                  <div class="form-group col-12">
                    <label class="col-form-label">Upload Marriage Certificate</label>
                    <div>
                      <input type="file" class="form-control" (change)="uploadMarriageCertificate = $event">
                    </div>
                  </div>
                  <!-- ====== News Paper Upload ======= -->
                  <div class="form-group col-12">
                    <label class="col-form-label">Upload News Paper Publication</label>
                    <div>
                      <input type="file" class="form-control" (change)="uploadNewsPaperPublication = $event">
                    </div>
                  </div>
                </ng-container>

                <div class="form-group col-12">
                  <div class="md-form">
                    <button (click)="formSwitch = 1" type="button" class="btn btn-secondary waves-light md-trigger btn-sm previous-button"
                      mdbRippleRadius>
                      <span class="">
                        Previous
                      </span>
                    </button> <button [@fadeInOutTranslate] id="validate" type="submit" class="btn btn-success waves-light md-trigger btn-sm"
                      mdbRippleRadius>
                      <span *ngIf="isLoading === true" class="">
                        <i class="fa fa-spin fa-spinner"></i> Sending Request..
                      </span>
                      <span *ngIf="!isLoading" class="">
                        Submit
                      </span>
                    </button>
                  </div>
                  <p class="mt-3 f-12">Note: Only .PDF or .JPEG files can be uploaded with Max. Size of 1MB
                  </p>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="(formSubmit)" [@fadeInOutTranslate] class="row">
    <div class="col-md-9 pt-4 mx-auto">
      <app-gtibank-minimalist-token-modal (emitTokenEvent)='inititateService($event)' (clearEvent)='clearError()'
        [message]='message' [isLoading]='isLoading' [activeService]='activeService' [isToken]='tokenState' [submited]='submitStatus'
        [isSuccess]='isSuccess'>
      </app-gtibank-minimalist-token-modal>
    </div>
  </div>
</div>
