<div class="page-body">
  <div class="row">
    <div class="col-sm-12 text-center mt-5 text-white">
      <!-- Rating card start -->
      <h5>How would you rate us today?</h5>
      <h6 class="sub-title"></h6>
      <a #ratings [href]='"http://csr.gtbank.cloud/channels/ibank/"' target="_blank">
      <button type="button" class="btn btn-primary btn-round btn-sm mx-2 mt-5">
        <i class="icofont icofont-star"></i>Click to rate</button></a>
      <!-- <div class="box-body justify-content-center d-flex">
        <bar-rating [(rate)]="rateMovie" [max]="4" [theme]="'movie'" [showText]="true" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
      </div> -->
      <!-- Rating card end -->
    </div>
  </div>
</div>
