<div class="card-header bg-white p-0">
  <!-- Nav Filter tab start -->
  <div class="col-12 px-0 py-1 filter-bar">
    <nav class="navbar navbar-light bg-faded p-3 justify-content-between">
      <h5 class="text-primary">
        <img src="assets\icon\smashicons\self-service\password-reset-2.svg" class="img-fluid img-40 mb-2" alt="">
        Reset Password
      </h5>
    </nav>
  </div>
  <!-- Nav Filter tab end-->
</div>
<div [@fadeInOutTranslate] style="min-height: 450px;" class="card-block">
  <div class="row">
    <div id="password-reset" class="col-md-10 pt-4 mx-auto">
      <p class="px-4 mx-5">Enter your details below to change your password</p>
      <gtibank-password-reset-form>
      </gtibank-password-reset-form>
    </div>
  </div>
</div>
