<div class="card-header py-2 bg-white">
  <div class="d-flex flex-row justify-content-between">
    <div class="bd-highlight text-left">
      <h6 class="text-primary f-w-400">
        <img src="assets\icon\smashicons\transfer\gt.svg" class="img-fluid img-30 mb-2" alt=""> FX Transfer to GTBank Account
      </h6>
    </div>
    <div class="bd-highlight text-right">
      <h6 class="f-w-100 f-12 text-right text-dark mb-0">Daily limit:
        <span class="f-w-500 text-c-brand">{{transferLimit | currency:'₦'}}</span>
      </h6>
    </div>
  </div>
</div>
<div class="card-block">
  <div *ngIf="!formSubmit" class="row">
    <div class="col-md-8 pt-4 mx-auto">
      <p class="text-center">
        <span class="text-center text-success" *ngIf="beneficiaryMessage">{{beneficiaryMessage}}</span>
      </p>
      <div [@fadeInOutTranslate] class="m-t-5">
        <!-- <pre>{{gtbFxTransferForm.value | json}}</pre> -->
        <form [formGroup]="gtbFxTransferForm" (ngSubmit)="openTokenConfirmation()" class="" action="javascript:">
          <!-- <pre>{{gtbFxTransferForm.value | json}}</pre> -->
          <gtibank-fxaccounts-typeahead [label]="'Account to Debit'" (fxacctToDebitEvent)="FXacctToDebitEventHander($event)">
          </gtibank-fxaccounts-typeahead>

          <div [@fadeInOutTranslate] class="form-group beneficiary-card mt-3">
            <label [@fadeInOutTranslate] *ngIf="gtbFxTransferForm.controls['newBeneficiary'].value || gtbFxTransferForm.controls['savedBeneficiary'].value"
              class="f-12" for="newBeneficiary">
              {{beneficiaryLabel}}:
            </label>

            <!-- Input for Saved Beneficiary -->
            <div class="btn-group btn-group-sm btn-block btn-group-toggle mx-auto" ngbRadioGroup name="beneficiaryOption" formControlName="beneficiaryOption">
              <label ngbButtonLabel class="col-6 btn-outline-primary">
                <input (click)="changeLabel('Enter Beneficiary`s name'); clearBeneficiary()" ngbButton type="radio" value="SAVED"> Saved Beneficiary
              </label>
              <label ngbButtonLabel class="col-6 btn-outline-primary">
                <input (click)="changeLabel('Enter Beneficiary`s account number'); clearBeneficiary()" ngbButton type="radio" value="NEW"> New Beneficiary
              </label>
            </div>
          </div>
          <ngb-alert *ngIf="showErrorMessage" (close)="showErrorMessage = false">{{beneficiaryMessage}}</ngb-alert>



          <div [@fadeInOutTranslate] class="form-group">
            <!-- *ngIf="gtbFxTransferForm.controls['beneficiaryOption'].value === 'NEW'" -->
            <input *ngIf="gtbFxTransferForm.controls['beneficiaryOption'].value === 'NEW'" #newBeneficiary (focus)="newBeneficiaryDetail=''; $event.target.value='';"
              (keyup)="onkey(gtbFxTransferForm.value.newBeneficiary)" id="beneficiary" maxlength="10" type="text" class="form-control"
              placeholder="Enter Beneficiary`s account number" formControlName="newBeneficiary">

            <!-- Template to display saved Beneficiary list -->
            <ng-template class="border-primary mt-3" #rt let-r="result" let-t="term">
              <div class="card-block p-0">
                <div class="d-flex flex-row justify-content-start my-0 py-0">
                  <!-- <div class="p-2 bd-highlight">
            <img class="img-menu-user img-radius img-40" src="assets/images/placeholder.png" alt="User-Profile-Image">
          </div> -->
                  <div class="p-0 bd-highlight">
                    <p class="mb-1 f-12">{{r.name | uppercase}}</p>
                    <p class="mb-1 f-10"> {{r.bank | titlecase}} - {{r.accountNumber}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- *ngIf="gtbFxTransferForm.controls['beneficiaryOption'].value === 'SAVED'" -->
            <input *ngIf="gtbFxTransferForm.controls['beneficiaryOption'].value === 'SAVED'" #savedBeneficiary (selectItem)="setSavedBeneficiariesModel($event)"
              [ngbTypeahead]="SavedBeneficiary" [resultTemplate]="rt" [inputFormatter]="savedBeneficiariesFormatter" (focus)="gtbFxTransferForm.value.savedBeneficiaries=''; $event.target.value='';"
              (click)="click$.next($event.target.value);" #savedBeneficiariesInstance="ngbTypeahead" id="savedBeneficiary"
              type="text" class="form-control" placeholder="Enter name of saved beneficiary" formControlName="savedBeneficiary">
            <!-- Beneficiary Display Card -->
            <div [@fadeInOutTranslate] *ngIf="newBeneficiaryDetail" class="card my-2 border-primary">
              <div class="card-block p-1">
                <div class="d-flex flex-row justify-content-between my-0 py-0">
                  <div class="p-2 bd-highlight">
                    <p class="mb-3">{{newBeneficiaryDetail.accountName | titlecase}}
                      <span>- {{newBeneficiaryDetail.nuban}}
                      </span>
                    </p>
                    <!-- <a (click)="saveBeneficiary(newBeneficiaryDetail)" name="saveBeneficiary" id="saveBeneficiary" class="btn btn-success btn-round btn-mini text-white mr-2"
                      role="button" title="Save Beneficiary">
                      <span *ngIf="!beneficiaryMessage">
                        <i class="icofont icofont-save mr-2"></i>Save</span>
                      <span *ngIf="beneficiaryMessage">
                        <i class="fa fa-spin fa-spinner mr-2"></i>{{beneficiaryMessage}}</span>
                    </a>
                    <a (click)="clearBeneficiary()" name="clearBeneficiary" id="clearBeneficiary" class="btn btn-primary btn-round btn-mini text-white"
                      role="button" title="Clear Beneficiary">
                      <i class="icofont icofont-recycle mr-2"></i>Clear
                    </a> -->
                  </div>
                  <div class="p-2 bd-highlight">
                    <img class="img-menu-user img-radius img-60" src="assets/images/placeholder.png" alt="User-Profile-Image">
                  </div>
                </div>
              </div>
            </div>
            <div [@fadeInOutTranslate] *ngIf="gtbFxTransferForm.value.savedBeneficiary" class="card my-2 border-primary">
              <div class="card-block p-1">
                <div class="d-flex flex-row justify-content-between my-0 py-0">
                  <div class="p-2 bd-highlight">
                    <p class="mb-3">{{gtbFxTransferForm.value.savedBeneficiary.name | titlecase}}
                      <span>- {{gtbFxTransferForm.value.savedBeneficiary.accountNumber}}
                      </span>
                    </p>
                    <!-- <a (click)="deleteBeneficiary(gtbFxTransferForm.value.savedBeneficiary)" class="btn btn-secondary btn-round btn-mini text-white mr-1"
                      role="button" title="Clear Beneficiary">
                      <span *ngIf="!beneficiaryMessage">
                        <i class="icofont icofont-delete"></i>Delete</span>
                      <span *ngIf="beneficiaryMessage">
                        <i class="fa fa-spin fa-spinner mr-2"></i>{{beneficiaryMessage}}</span>
                    </a>
                    <a (click)="clearBeneficiary()" class="btn btn-primary btn-round btn-mini text-white" role="button" title="Clear Beneficiary">
                      <span>
                        <i class="icofont icofont-recycle"></i>Change</span>
                    </a> -->
                  </div>
                  <div class="p-2 bd-highlight">
                    <img class="img-menu-user img-radius img-60" src="assets/images/placeholder.png" alt="User-Profile-Image">
                  </div>
                </div>
              </div>
            </div>
            <span [@fadeInOutTranslate] class="text-success f-12">{{successMessage}}</span>
            <span [@fadeInOutTranslate] class="text-danger f-12">{{errorMessage}}</span>
            <span *ngIf="loadingBeneficiary && !errorMessage" [@fadeInOutTranslate] class="text-danger f-12">Loading Beneficiary
            </span>
          </div>



          <div class="form-group pl-0">
            <!-- Input: Amount to transfer -->
            <label [@fadeInOutTranslate] class="f-12" for="transAmt">Amount to transfer:</label>
            <input min="-10.50" max="transferLimit" (keyup)="util.formatCurrency(gtbFxTransferForm.controls['transferAmt'])"
              id="transAmt" class="form-control form-control-right" placeholder="Enter Amount ₦ 0.00" formControlName="transferAmt">
            <!-- <pre>Model: {{ gtbFxTransferForm.value.transferAmt | json }}</pre> -->
          </div>
          <label [@fadeInOutTranslate] *ngIf="gtbFxTransferForm.controls['remark'].value" class="f-12" for="remark">Remark:</label>
          <div class="form-group pl-0">
            <input type="text" class="form-control" placeholder="Remark" formControlName="remark">
            <!-- <div *ngIf="gtbFxTransferForm.controls['remark'].dirty" class="form-group">
                  <div class="md-form">
                    <button
                      id="customer"
                      type="button"
                      class="btn btn-block btn-sm btn-secondary waves-light md-trigger mt-1"
                      mdbRippleRadius>Add new Transfer</button>
                  </div>
                </div> -->
          </div>
          <!-- payment purpose -->
          <div class="form-group pl-0">
              <label [@fadeInOutTranslate] *ngIf="gtbFxTransferForm.controls['paymentpurpose'].value">Payment Purpose:</label>
              <select 
              class="custom-select text-dark" formControlName="paymentpurpose">
                <option disabled value="">Select payment purpose</option>
                <option *ngFor="let purpose of paymentpurpose" [ngValue]='purpose'>{{purpose?.name}}</option>
              </select>
            </div>

          <!-- <div class="form-group pl-0">
            <gtibank-universal-typeahead [label]="'Payment Purpose'" [values]="paymentpurpose" (valuesEvent)="purposeEventHander($event)"></gtibank-universal-typeahead>
          </div> -->

          <!-- Input for Secret Question -->
          <div class="form-group pl-0">
            <label [@fadeInOutTranslate] *ngIf="gtbFxTransferForm.controls['secretAnsw'].value" class="f-12" for="secretAnsw">Answer to secret Question:</label>
            <input type="password" class="form-control" placeholder="Answer to secret Question" formControlName="secretAnsw">
            <get-secret-question></get-secret-question>
          </div>

          <div class="form-group col-12" ngbRadioGroup>
            <div class="checkbox-fade fade-in-primary">
              <label>
                <input class="form-control form-control-sm" id="checkbox" type="checkbox" formControlName="notice">
                <!-- (click)="checkDeclaration() -->
                <span class="cr">
                  <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                </span>
                <span class="mt-3 f-12">Click here to Agree</span>
              </label>
            </div>
            <br>
            <span class="mt-3 f-12">
              By selecting the check box above and submiting this request, I agree that the request initiated does not contravene CBN regulation
              on currency substitution and dollarisation of the Nigerian Economy.
            </span>
          </div>

          <div class="form-group">
            <div class="md-form">
              <button [disabled]="!(gtbFxTransferForm.valid && gtbFxTransferForm.value.notice === true)" [@fadeInOutTranslate] id="customer"
                type="submit" class="btn btn-success waves-light md-trigger btn-sm" mdbRippleRadius>
                <span *ngIf="isLoading === true" class="">
                  <i class="fa fa-spin fa-spinner"></i>
                </span>
                <span *ngIf="loadingBeneficiary === true" class="">
                  <i class="fa fa-spin fa-spinner"></i> Loading beneficiary details...
                </span>
                <span *ngIf="!isLoading && !loadingBeneficiary" class="">
                  Continue
                </span>
              </button>
            </div>
            <p class="mt-3 f-12">You will be charged
              <span class="text-primary">₦0.00</span> for this transfer
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 d-none">
      <div class="card">
        <div class="card-block">
          <div class="multiple-transfers">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formSubmit" [@fadeInOutTranslate] class="row">
    <div class="col-md-9 pt-4 mx-auto">
      <app-token-confirmation-modal (resetFormEvent)="resetFormEventHandler($event)" (tokenVissibilityEvent)="tokenEventHandler($event)"
        [body]="reqBody" [isToken]=true [category]="'transfers'" [transactionType]='"fxintraTransfers"'>

      </app-token-confirmation-modal>
    </div>
  </div>
</div>
<!-- <gtibank-transfer-message-modal 
  [modal]="modal" >
  </gtibank-transfer-message-modal> -->