.dropdown-item_custom-style {
    padding-top: 5px !important;
    padding-bottom: 5px !important; 
    margin-left: 5px;
    margin-bottom: 10px !important;
}
.text-muted {
    color: white !important;
}