<div [@fadeInOutTranslate] class="card" style="height: 500px;">
    <div class="mb-0 p-0 bg-primary card-block" style="height: 5px;"></div>
    <div class="card-header bg-white p-0">
      <!-- Nav Filter tab start -->
      <div class="col-12 px-0 py-1 filter-bar">
        <nav class="navbar navbar-light bg-faded p-3 justify-content-between">
          <h5 class="text-primary">
            <i-slash></i-slash>
            International Spend Limit
          </h5>
        </nav>
      </div>
      <!-- Nav Filter tab end -->
    </div>
    <div class="card-block">
      <div class="col px-0 d-flex justify-content-between">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-round  btn-success btn-mini py-2" id="dropdownBasic1" ngbDropdownToggle>
            PAN-Card No
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <span *ngFor="let account of accounts; let i=index">
              <!-- <hr class="my-1"> -->
              <button (click)="changeHistory(account)" class="dropdown-item f-12 bg-dark text-white">
                <span class="d-block">Card No
                  <span class="text-muted">Card Type</span>
                </span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
