<div class="d-flex flex-column align-items-start h-100">
  <div class="p-0 mb-auto w-100">
    <div class="d-flex justify-content-between">
      <div class="pt-2">
        <span class="text-white f-12">Already Registered ?</span>
        <button [routerLink]="['/onboarding/login']" [routerLinkActive]="['active']" type="button" class="btn btn-primary btn-sm btn-round px-3 ml-1 waves-light"
          mdbRippleRadius>Sign In</button>
      </div>
      <div class="pt-2">
        <img src="./assets/images/logo-blue.png" class="img-fluid white-text float-right img-60" alt="Responsive image">
      </div>
    </div>
  </div>
  <div class="p-2 mb-auto w-100">
    <div class="formTitle mb-4 mx-auto onboarding-forms">
      <p class="text-white f-w-100 mb-3">Your password was reset.</p>
      <p class="text-custom f-30 f-w-100 mb-0">Change Password</p>
      <span class="f-12">Use the default password sent to your mail.</span>
    </div>
    <gtibank-password-reset-form></gtibank-password-reset-form>
  </div>
  <div class="mt-auto p-2 text-center w-100 text-white bottom">
    <p>
      <a class="f-12 f-w-100">GTBank.com</a> |
      <a class="f-12 f-w-100">Terms and Conditions</a>
    </p>
  </div>
</div>