<div class="card-header bg-white p-0">
  <!-- Nav Filter tab start -->
  <div class="col-12 px-0 py-1 filter-bar">
    <nav class="navbar navbar-light bg-faded p-3 justify-content-between">
      <h5 class="text-primary">
        <img src="assets\icon\smashicons\self-service\i-require.svg" class="img-fluid img-40 mb-2" alt="">
        I Require
      </h5>
      <span class="float-right">
        <button type="button" class="btn btn-primary py-2 btn-round btn-mini mt-2 float-right">Notify me</button>
      </span>
    </nav>
  </div>
  <!-- Nav Filter tab end-->
</div>
<div class="card-block mt-3">
  <div class="card-header-img">
  </div>
</div>
<div class="card-block mx-auto w-75">
  <ul class="list-group text-center">
    <li class="list-group-item p-2 bg-light b-radius-5 mb-1">
      I Require will be available soon  with great features
    </li>
  </ul>
</div>