<div class="row submenu text-center mx-1 mt-3">
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/transfers/GTBank']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\gt.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Transfer to GTBank</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/transfers/other-banks']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\others.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Transfer to Other Banks</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/transfers/own-account']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\own-3.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Transfer to Own Account</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/transfers/phone']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\phone.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Transfer via Phone/Email</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div (click)="toggleMenu()" [routerLink]="['/transfers/cardless-withdrawal']" routerLinkActive="active-submenu"
      class="card mb-2 text-center order-visitor-card z-depth-bottom-1" style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\cardless-withdrawal-2.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Cardless Withdrawal</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div (click)="toggleMenu()" [routerLink]="['/transfers/standing-order']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\standingOrder.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Standing Order</p>
      </div>
    </div>
  </div>
  <!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink] = "['/transfers/pre-registered']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1" style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="assets\icon\smashicons\transfer\pre-registered.svg" class="img-fluid img-50 mb-2" alt="">
        <p class="m-b-0 f-12 f-w-500">Pre-registered Transfers</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
      <div 
        (click)="toggleMenu()"
        class="card mb-2 text-center order-visitor-card z-depth-bottom-1" style="max-height: 115px">
        <div class="card-block px-2 card-grid text-primary">
          <img src="assets\icon\smashicons\plus-square.svg" class="img-fluid img-50 mb-2" alt="">
          <p [@fadeInOutTranslate] class="m-b-0 f-18 f-w-500"><span *ngIf="more">Less</span><span *ngIf="!more">More</span></p>
        </div>
      </div>
  </div> -->
</div>
<div class="row submenu-content px-md-4">
  <div class="col-md-7 px-0">
    <div [@fadeInOutTranslate] class="card mb-2" style="min-height: 100vh">
      <div class="mb-0 p-0 bg-primary card-block" style="height: 5px;"></div>
      <router-outlet>
        <app-spinner>
          <app-title></app-title>
        </app-spinner>
      </router-outlet>
    </div>
  </div>
  <div class="col-md-5">
   
    <app-card [title]="'Frequent Transfers'" [cardClass]="'task-card freq-beneficiaries mb-1'">
      <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'300px'" [config]="">
        <frequent-transfers></frequent-transfers>
      </perfect-scrollbar>
    </app-card>
    <div class="card bg-primary my-1">
      <div class="card-block p-0 mt-1">
        <img src="assets\images\ads\Cardless-withdrawal-10092018.jpg" class="img-fluid mb-1" alt="">
      </div>
    </div>
    <!-- <div class="card bg-primary mb-1">
      <div class="card-block p-0 mt-1">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/o8s-Yhx31Ws/?playlist=o8s-Yhx31Ws&amp;loop=1&amp;autoplay=0&amp;controls=0&amp;rel=1&amp;mute=1"
          frameborder="0" allow="autoplay; loop" allowfullscreen></iframe>
      </div>
    </div> -->
  </div>
</div>
<div class="row mt-3">

</div>


<!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink] = "['standing-order']" routerLinkActive="active-submenu"  class="card mb-2 text-center order-visitor-card z-depth-bottom-1">
      <div class="card-block px-2 card-grid text-info">
        <h4>
          <span class="fa-layers fa-fw fa-md">
            <i class="icofont icofont-time"></i>
          </span>
        </h4>
        <p class="m-b-0 f-12 f-w-500">Standing Order</p>
      </div>
    </div>
  </div> -->
<!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink] = "['cash-in-transit']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1" placement="top" ngbTooltip="Send money to a beneficiary without a bank account. Beneficiary can collect cash at specified GTBank branch">
      <div class="card-block px-2 card-grid text-info">
        <h4>
          <span class="fa-layers fa-fw fa-md">
            <i class="icofont icofont-dotted-right"></i>
            <i class="far fa-money-bill-alt" data-fa-transform="shrink-7 right-4"></i>
          </span>
        </h4>
        <p class="m-b-0 f-12 f-w-500">Cash in Transit</p>
      </div>
    </div>
  </div> -->
<!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink] = "['draft-in-transit']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1" placement="top" ngbTooltip="Send draft to a beneficiary without a bank account. Beneficiary can collect draft at specified GTBank branch">
      <div class="card-block px-2 card-grid text-success">
        <h4>
          <span class="fa-layers fa-fw fa-md">
            <i class="icofont icofont-dotted-right"></i>
            <i class="fas fa-money-check" data-fa-transform="shrink-6 right-4"></i>
          </span>
        </h4>
        <p class="m-b-0 f-12 f-w-500">Draft in Transit</p>
      </div>
    </div>
  </div> -->
<!-- <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
        <div [routerLink] = "['beneficiaries']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1" placement="top" ngbTooltip="View and manage beneficiaries">
          <div class="card-block px-2 card-grid" style="color: rosybrown">
            <h4><i class="icofont icofont-emo-slightly-smile fa-md"></i></h4>
            <p class="m-b-0 f-12 f-w-500">Beneficiaries</p>
          </div>
        </div>
      </div> -->
