<div [@fadeInOutTranslate] class="row submenu text-center mx-1 mt-3">
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/topup/mtn']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/MTN.png" class="img-fluid img-circle z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">MTN Nigeria</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/topup/airtel']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/AIRTEL.png" class="img-fluid z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">Airtel Nigeria</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/topup/nine-mobile']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/9MOBILE.png" class="img-fluid z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">9Mobile</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div [routerLink]="['/topup/globacom']" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/GLO.png" class="img-fluid z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">Globacom Nigeria</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div (click)="redirect('/payments/biller/SMILECOMMUNICATIONSNIGLTD/92')" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/smile-logo.jpeg" class="img-fluid z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">Smile Nigeria</p>
      </div>
    </div>
  </div>
  <div class="px-1 col-md-2 col-sm-4 col-6 mb-1">
    <div (click)="redirect('/payments/biller/')" routerLinkActive="active-submenu" class="card mb-2 text-center order-visitor-card z-depth-bottom-1"
      style="max-height: 115px">
      <div class="card-block px-2 card-grid text-primary">
        <img src="./assets/images/topup/swift.png" class="img-fluid z-depth-bottom-0 img-40 mb-4" alt="">
        <p class="m-b-0 f-12 f-w-500">Swift</p>
      </div>
    </div>
  </div>
</div>
<div class="row submenu-content px-4">
  <div class="col-md-7 px-0">
    <div [@fadeInOutTranslate] class="card mb-2" style="min-height: 600px">
      <div class="mb-0 p-0 bg-primary card-block" style="height: 5px;"></div>
      <router-outlet>
        <app-spinner>
          <app-title></app-title>
        </app-spinner>
      </router-outlet>
    </div>
  </div>
  <div class="col-md-5">
    <app-gtibank-frequent-topup-comp>
    </app-gtibank-frequent-topup-comp>
    <div class="card bg-primary mb-1">
      <div class="card-block p-0 mt-1">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/DfpExnPC7JE/?playlist=CL81MKChdAQ&amp;loop=1&amp;autoplay=0&amp;controls=0&amp;rel=1&amp;mute=1"
          frameborder="0" allow="autoplay; loop" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
