<div class="card-header bg-white py-2">
  <div class="d-flex justify-content-start">
    <p class="text-primary mr-2">
      <!-- <i-plus class="mr-1"></i-plus> -->
      <img src="assets\icon\smashicons\accounts\open-dom-account.svg" class="img-fluid img-30 mb-2" alt=""> Open Additional
      Account
    </p>
  </div>
</div>
<div class="card-block" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div *ngIf="!(isLoading  || formSubmit)" [@fadeInOutTranslate] class="mt-5">
        <form [formGroup]="additionalaccountForm" (ngSubmit)="openTokenConfirmation(additionalaccountForm)" class="" action="javascript:">
          <div class="form-row">
            <div class="form-group col-12">
              <span class="f-12 pb-2 pr-3">Select Account Type:</span>
              <div ngbDropdown placement="bottom-left" class="d-inline-block">
                <button class="btn btn-round btn-sm btn-dark" type="button" id="currency" ngbDropdownToggle><span class="px-5">{{selectedAccount?.desc}}</span></button>
                <div ngbDropdownMenu aria-labelledby="currency">
                  <button (click)="optionSelected(option)" type="button" *ngFor="let option of account_Type" class="dropdown-item f-12">
                    <span class="">{{option?.desc}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="validation" class="form-row">
            <div class="form-group col-12 mb-2">
              <label [@fadeInOutTranslate] *ngIf="additionalaccountForm.controls['secretAnsw'].value" class="f-12" for="secretAnsw">Answer
                to secret Question:</label>
              <input type="password" class="form-control" placeholder="Answer to secret Question" formControlName="secretAnsw">
              <get-secret-question></get-secret-question>
            </div>
            <div class="form-group col-12">
              <div class="md-form">
                <button [disabled]='!additionalaccountForm.valid' [@fadeInOutTranslate] id="validate" type="submit" class="btn btn-success waves-light md-trigger btn-sm"
                  mdbRippleRadius>
                  <span *ngIf="isLoading === true" class="">
                    <i class="fa fa-spin fa-spinner"></i> Sending Request..
                  </span>
                  <span *ngIf="!isLoading" class="">
                    Submit
                  </span>
                </button>
              </div>
              <p class="mt-3 f-12">You are allowed to create additional savings or current accounts.This is limited to 2
                sub-accounts for each account.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="(formSubmit)" [@fadeInOutTranslate] class="row">
    <div class="col-md-9 pt-4 mx-auto">
      <app-gtibank-minimalist-token-modal (emitTokenEvent)='inititateService($event)' (clearEvent)='clearError()' [message]='message'
        [isLoading]='isLoading' [isToken]=false [isSuccess]='isSuccess' [activeService]='activeService'>
      </app-gtibank-minimalist-token-modal>
    </div>
  </div>
</div>
